################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ctf/release
/ref_soft/release
/ref_gl/release
